<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>courseCreate</servlet-name>
    <servlet-class>com.ocms.servlet.course.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseCreate</servlet-name>
    <url-pattern>/createcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>locationCreate</servlet-name>
    <servlet-class>com.ocms.servlet.location.CreateLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locationCreate</servlet-name>
    <url-pattern>/CreateLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>locationUpdate</servlet-name>
    <servlet-class>com.ocms.servlet.location.LocationUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locationUpdate</servlet-name>
    <url-pattern>/locationUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseUpdate</servlet-name>
    <servlet-class>com.ocms.servlet.course.CourseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseUpdate</servlet-name>
    <url-pattern>/courseUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseList</servlet-name>
    <servlet-class>com.ocms.servlet.course.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseList</servlet-name>
    <url-pattern>/CourseListServlet</url-pattern>
  </servlet-mapping>
</web-app>